@import "../variables";

.pageContainer {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacingLarge;
  display: flex;
  height: 100%;
  overflow: auto;

  > * {
    margin-bottom: $spacingMedium;
  }

  > :first-child {
    margin-top: auto;
  }

  > :last-child {
    margin-bottom: auto;
  }
}

.OptionTitle {
  font-size: 24px;
}

.optionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;

  &.inset {
    width: calc(100% - $spacingMedium);
    margin-left: auto;
  }

  .checkIcon {
    stroke: black;
    stroke-width: 0.5px;
    color: #00ff19;
  }

  .optionContent {
    display: flex;
    flex-direction: column;
  }

  .optionValue {
    color: #c59c9c;
    font-size: 15px;
  }
}

.totalPrice {
  text-decoration: underline;
}

.caption {
  text-align: center;
}

.modal {
  width: 100%;
}

.modalContent {
  max-height: 45vh;
  overflow: auto;
}

.modalButtonContainer {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: $spacingMedium;
  }

  > :last-child {
    margin-bottom: unset;
  }
}

.errorMessage {
  color: $btn-primary;
}

.dropOffLocation {
  text-align: center;
}
