@import "../../styles/variables";

.ListPicker {
  // For the shadow of the last child
  padding-bottom: 4px;
  overflow-x: hidden;

  > * {
    margin-bottom: $spacingMedium;
  }

  > :last-child {
    margin-bottom: unset;
  }

  .container {
    padding: $spacingSmall;
  }
}
