@import "./variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: $spacingLarge;

  > * {
    margin-bottom: $spacingLarge;
  }

  > :last-child {
    margin-bottom: unset;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > * {
      margin-bottom: $spacingMedium;
    }

    > :last-child {
      margin-bottom: unset;
    }
  }
}

.title {
  font-size: 60px;
}